<div class="w-full bg-slate-200 p-5 rounded-md">
    <div>
      <div>
        <h1 class="text-4xl">Bişey randevusu bişey bişey</h1>
      </div>
      <h5 class="text-xl">12.12.2012</h5>
    </div>
    <div class=" w-full">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus soluta delectus autem consectetur
      voluptatem
      quibusdam in possimus vitae consequatur, id asperiores iusto itaque ratione quisquam minima! Alias, voluptatem
      quo. Quam.</div>
    <div class="w-full flex justify-end items-center">
      <a href="#">
        edit <i class="fa-solid fa-pen-to-square"></i>
      </a>
      /
      <a href="#">
        sil <i class="fa-solid fa-trash-can"></i>
      </a></div>
  </div>